@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.boton {
  text-decoration: none;
  font-weight: bold;
  background-color: #179BD3;
  color: black;
  height: 50px;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border-radius: 15px; }
  .boton:hover {
    background-color: #b1e8ff; }

.titulos {
  font-size: 30px; }

.subtitulos {
  font-size: 25px; }

.fixed {
  display: none; }

header {
  width: 100%;
  height: 120px;
  padding: 10px;
  position: absolute;
  position: fixed;
  background-color: black;
  display: flex;
  align-items: baseline; }
  header .navbar.bg-body-tertiary {
    display: none; }
    header .navbar.bg-body-tertiary .bg-body .navbar-toggler {
      background-color: #179BD3 !important; }
    header .navbar.bg-body-tertiary .bg-body .btn-close {
      background-color: #179BD3 !important;
      opacity: 100% !important; }
    header .navbar.bg-body-tertiary .bg-body .offcanvas-header {
      background-color: black !important; }
    header .navbar.bg-body-tertiary .bg-body .offcanvas-body {
      background-color: black !important; }
    header .navbar.bg-body-tertiary .bg-body .nav-item a {
      text-decoration: none;
      color: #179BD3 !important; }
  header .menu {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: baseline;
    margin-inline-end: auto;
    justify-content: flex-end;
    margin: 5px; }
    header .menu ul li {
      display: inline-block;
      margin: 5px; }
    header .menu a {
      text-decoration: none;
      color: #179BD3;
      display: flex;
      align-items: baseline; }
      header .menu a:hover {
        color: white;
        background-color: blue; }
    header .menu div a {
      color: black;
      height: 40px; }

nav button {
  font-size: 15px;
  margin: 5px; }

main {
  margin-right: 40px;
  margin-left: 40px; }
  main .hero img {
    margin-top: 120px;
    width: 100%; }
  main .container #nosotros h2 {
    font-size: 30px; }
  main .container #nosotros p {
    font-size: 20px; }
  main .container #nosotros ul {
    display: inline-block;
    justify-content: center; }
    main .container #nosotros ul img {
      width: 500px;
      border-radius: 10%; }
  main .container .atributos div {
    display: inline-block;
    justify-content: space-evenly;
    margin-left: auto; }
    main .container .atributos div img {
      width: 80px;
      height: 80px;
      align-items: center; }
    main .container .atributos div p {
      font-size: 16px; }
  main .container .proceso h2 {
    margin-top: 20px; }
  main .container .proceso ul img {
    display: flex;
    justify-content: center; }

main .contenido h2 {
  font-size: 45px;
  position: relative;
  top: 40px; }
  main .contenido h2 .bienvenida {
    display: inline-block;
    justify-content: space-evenly;
    justify-items: center; }
    main .contenido h2 .bienvenida p {
      font-size: 20px; }

main .contenido .promo {
  height: 450px; }

main .contenido .productos {
  display: flex;
  justify-content: center;
  justify-content: space-evenly; }
  main .contenido .productos div {
    width: 350px;
    display: inline-block;
    text-align: center;
    justify-content: flex center; }
    main .contenido .productos div h3 {
      size: 30;
      display: flex; }
    main .contenido .productos div img {
      width: 300px;
      height: 300px;
      margin-top: 25px;
      margin-bottom: 25px;
      border-radius: 10%; }
    main .contenido .productos div a {
      padding: 10px;
      margin-bottom: 30px;
      margin-top: 30px; }

main .contenido .frio-calor h2 {
  padding: 20px; }

main .contenido .frio-calor .fc-info img {
  width: 299px;
  height: 450px;
  border-radius: 10%; }

main .contenido .frio-calor .fc-info .texto {
  display: inline-block;
  vertical-align: top; }
  main .contenido .frio-calor .fc-info .texto p {
    margin-bottom: 20px; }
  main .contenido .frio-calor .fc-info .texto a {
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px; }

main .contenido .envios {
  margin-top: 50px; }
  main .contenido .envios .text-bg-dark {
    color: black !important;
    font-weight: bold !important;
    background-color: white !important; }
  main .contenido .envios .boton-zonas {
    display: flex;
    justify-content: center; }
    main .contenido .envios .boton-zonas a {
      height: 40px; }

main .reparto ul {
  display: flex;
  justify-content: center; }
  main .reparto ul h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center; }
    main .reparto ul h3 img {
      border-radius: 10%;
      width: 500px;
      height: 500px;
      margin: 20px;
      display: inline-block;
      justify-content: center; }

main .container2 {
  display: flex;
  justify-content: center; }
  main .container2 .formulario h3 {
    display: flex;
    justify-content: center; }
  main .container2 .formulario div {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px; }
    main .container2 .formulario div input {
      display: block;
      justify-content: center;
      width: 730px; }
    main .container2 .formulario div .mensajeform {
      display: block;
      justify-content: center; }
      main .container2 .formulario div .mensajeform input {
        height: 100px; }
    main .container2 .formulario div a {
      margin-top: 20px;
      margin-bottom: 20px;
      justify-content: center; }
      main .container2 .formulario div a .iconoW {
        width: 40px;
        height: 40px; }
    main .container2 .formulario div p {
      display: flex;
      justify-content: center;
      align-items: center; }

/**------GRID-----*/
main .atributos {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto;
  grid-area: "A1 A2 A3"; }

main .bienvenida {
  display: grid;
  grid-template-rows: 450px;
  grid-template-columns: 49% 50%;
  column-gap: 10px;
  grid-template-areas: "img info"; }
  main .bienvenida .promo {
    grid-area: img;
    display: flex;
    justify-self: center; }
    main .bienvenida .promo .p-tex {
      grid-area: info;
      align-self: center;
      display: flex;
      justify-self: start; }

main div .fc-info {
  display: grid;
  grid-template-rows: 450px;
  grid-template-columns: 300px 533px;
  grid-template-areas: "img1 texto"; }
  main div .fc-info .img1 {
    grid-area: img1; }
  main div .fc-info .texto {
    grid-area: texto;
    align-self: center; }

main .formulario div .inputype {
  grid-area: formulario; }

footer {
  background-color: black;
  height: 85px; }
  footer ul {
    margin-bottom: 0%;
    padding: 0%;
    display: flex;
    justify-content: center; }
    footer ul a img {
      width: 50px;
      height: 50px;
      margin-top: 15px; }
    footer ul .logog {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      margin-top: 22px;
      margin-left: 7px; }

@media screen and (max-width: 1016px) {
  main .fixed {
    display: block;
    position: fixed;
    bottom: 110px;
    right: 50px; }
    main .fixed img {
      display: block;
      width: 45px; } }

@media screen and (max-width: 1016px) and (max-width: 1016px) {
  header nav .navbar.bg-body-tertiary {
    display: block;
    background-color: black !important; } }

@media screen and (max-width: 1016px) and (max-width: 1000px) {
  .titulos {
    font-size: 20px; }
  .subtitulos {
    font-size: 16px; }
  h3 {
    font-size: 16px; }
  p {
    font-size: 16px; }
  main div .productos img {
    width: 200px;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10%; }
  main .frio-calor img {
    width: 250px;
    height: 350px;
    border-radius: 10%; }
    main .frio-calor img div ul p {
      margin-bottom: 16px; }
    main .frio-calor img div .fc-info {
      display: grid;
      grid-template-columns: 300px 366px;
      grid-template-rows: 350px;
      grid-template-areas: "img1 texto"; }
    main .frio-calor img .img1 {
      grid-area: img1; }
    main .frio-calor img .texto {
      grid-area: texto;
      align-self: center; } }

@media screen and (max-width: 1016px) and (max-width: 900px) {
  .fc-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px;
    grid-template-areas: "img1" "texto"; }
  .img1 {
    grid-area: img1; }
  .texto {
    grid-area: texto;
    align-self: center; } }

@media screen and (max-width: 1016px) and (max-width: 900px) {
  main .bienvenida div img {
    width: 250px; }
  main .bienvenida p {
    font-size: 15px; } }

@media screen and (max-width: 1016px) and (max-width: 464px) {
  .reparto ul img {
    width: 300px; } }

@media screen and (max-width: 1016px) and (max-width: 350px) {
  .subtitulos {
    font-size: 16px; }
  .titulos {
    font-size: 20px; } }

@media screen and (max-width: 1016px) {
  /**------formulario-----*/ }

@media screen and (max-width: 1016px) and (max-width: 998px) {
  main .atributos div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  main .productos {
    display: flex;
    flex-direction: column; }
    main .productos div {
      width: 350px; }
    main .productos h3 {
      font-size: 16px;
      justify-self: center; }
    main .productos img {
      width: 200px;
      height: 200px;
      margin-top: 25px;
      margin-bottom: 25px;
      border-radius: 10%;
      justify-self: center; }
    main .productos ul a {
      justify-self: center; }
  main .frio-calor {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .frio-calor div img {
      justify-self: center; } }

@media screen and (max-width: 1016px) and (max-width: 800px) {
  div input {
    display: block;
    width: 650px; } }

@media screen and (max-width: 1016px) and (max-width: 500px) {
  div input {
    display: block;
    width: 350px; } }

@media screen and (max-width: 1016px) and (max-width: 350px) {
  div input {
    display: block;
    width: 200px; } }

@media screen and (max-width: 1016px) and (max-width: 350px) {
  main .atributos div {
    display: flex;
    flex-direction: column; }
  main .productos {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .productos div {
      width: 350px;
      display: flex;
      flex-direction: column; }
    main .productos img {
      width: 200px;
      height: 200px;
      margin-top: 25px;
      margin-bottom: 25px;
      border-radius: 10%; }
  main .reparto ul img {
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    justify-content: center; }
  footer {
    background-color: black;
    height: 85px; }
    footer ul img {
      width: 25px;
      height: 25px;
      margin-top: 5px; }
      footer ul img .logog {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 3.5px; } }
