/**-----RESET-lo que aplico aca se aplicará a todas las etiquetas HTML-----*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**------ INDEX-------/
/**-----HEADRER-----*/
header { 
    width: 100%;
    height: 120px;
    padding: 10px;
    position: absolute;
    position: fixed;
}

header {
    background-color: black;
}


header nav ul li{
    display: inline-block;
    margin: 5px;
}

header nav ul li a{
    text-decoration: none;
    color: #179BD3;
}

.navbar.bg-body-tertiary {
    display: none;
}

.menu{
    position: relative; 
    display: flex;
    width: 100%;
    height: 50px;
    align-items: baseline;
    margin-inline-end: auto;
    justify-content: flex-end;
    margin: 5px;
}

.encabezado {
    display: flex;
    align-items: baseline;
}

nav button {
    font-size: 15px;
    margin:5px;
}

main {
    margin-right: 40px;
    margin-left: 40px;
}

.imghero { 
margin-top: 120px;
}

.navbar.bg-body-tertiary {
    background-color: black !important; 
}

.navbar-toggler {
    background-color: #179BD3 !important;

}

div .offcanvas-body {
    background-color: black !important;
}


.offcanvas-header {
    background-color: black !important;
}

.btn-close {
    background-color:#179BD3 !important;
    opacity: 100% !important;
}

.nav-item a {
    text-decoration: none;
    color: #179BD3 !important;
}


/**-----MAIN-----*/

/**-----INDEX-----*/

.fixed {
    display: none;
}

.hero img {
    width: 100%;
}

.nosotros h2 {
    font-size: 30px;
}

.nosotros p {
    font-size: 20px;
}

#nosotros img {
    width: 500px;
    border-radius: 10%;
}

#nosotros ul {
    display: inline-block;
    justify-content: center;
}

.atributos img {
    width: 80px;
    height: 80px;
}

.atributos div {
    display: inline-block;
    justify-content: space-evenly;
    justify-items: center;
}

.atributos p {
    font-size: 16px;
}

.proceso ul {
    display: flex;
    justify-content: center;
}

.proceso img {
    border-radius: 10%;
}

/**-----PRODUCTOS Y SERV-----*/

.bienvenida {
    width: 100%;
    height: 100px; 
    margin-bottom: 400px;
    display: flex;
    justify-content: center;
}

.bienvenida h2 {
    font-size: 45px;
    position: relative; top: 40px;
}

.bienvenida p {
    font-size: 20px;
}

.promo {
    height: 450px;
}

/**--imagenes prdoductos--*/

.productos {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.productos div {
    width: 350px;
    display: inline-block;
    text-align: center;
    justify-content: flex center;
}

.productos img {
    width: 300px;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10%;
}

.productos h2 {
    size:30;
    display: flex;
}
.productos a {
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.frio-calor h2 {
    padding: 20px;
}
.frio-calor img { 
    width: 299px;
    height: 450px;
    border-radius: 10%;
}

.frio-calor a {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.frio-calor div ul p {
    margin-bottom: 20px;
}

.texto {
    display: inline-block;
    vertical-align: top;
}

.texto a {
    height: 40px;
}
.envios { 
    margin-top: 50px;
}

div .text-bg-dark {
    color: black !important;
    font-weight: bold !important;
    background-color: white !important;
}

.boton-zonas {
    display: flex;
    justify-content: center;
}

.boton-zonas a {
    height: 40px;
}

/**-----CONTACTO-----*/
.container2 {
    display: flex;
    justify-content: center;
}

.formulario div { 
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

div input {
    display: block;
    justify-content: center;
    width: 730px;
}

.formulario h2{
    display: flex;
    justify-content:center;
}
.formulario h3 {
    display: flex;
    justify-content: center;
}

.formulario div p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario a {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.iconoW {
    width: 40px;
    height: 40px;
}

.mensajeform input{
    height: 100px;
}

.mensajeform {
    display: block;
    justify-content: center;
}

/**-----ZONAS DE REPARTO-----*/
.reparto div {
    width: 100%;
    display: flex;
    justify-content: flex center;
}

.reparto h2 { 
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.reparto div h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.reparto img {
    border-radius: 10%;
}

.reparto img {
    width: 500px;
    height: 500px;
    margin: 20px;
    display: inline-block;
    justify-content: center;
}

.reparto ul {
    display: flex;
    justify-content: center;
}

.boton {
    text-decoration: none;
    font-weight: bold;
    background-color: #179BD3;
    color: black;
    height: 50px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.titulos {
    font-size: 30px;
}

.subtitulos {
    font-size:25px
}

p {
    font-size: 20px;
}

/**------FOOTER-----*/
footer{
    background-color: black;
    height: 85px;
}

footer h2 {
    color: #179BD3;
    display: flex;
    justify-content: center;
}
footer img{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

footer ul {
    margin-bottom: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

.logog {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    margin-top: 22px;
    margin-left: 7px;
}

/**---pseudoclases--*/

header nav ul li a:hover {
    color: white;
    background-color: blue;
}

.boton:hover { 
    background-color: #b1e8ff;
}

.btn-close:hover {
    background-color: #b1e8ff !important;
}

.navbar-toggler:hover {
    background-color: #b1e8ff !important;
}


/**------GRID-----*/
.bienvenida{
    display: grid;
    grid-template-rows:450px;
    grid-template-columns: 49% 50%;
    column-gap: 10px;
    grid-template-areas:
    "img info";
}

.promo {
    grid-area: img;
    display: flex;
    justify-self: center;
}

.p-tex {
    grid-area: info;
    align-self: center;
    display: flex;
    justify-self: start;
}


.fc-info {
    display: grid;
    grid-template-rows:450px;
    grid-template-columns: 300px 533px;
    grid-template-areas:
    "img1 texto"
}

.img1 {
    grid-area: img1;
}

.texto {
    grid-area: texto;
    align-self: center;
}


.inputype {
    grid-area: formulario;
}

.atributos {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    grid-area: 
    "A1 A2 A3";
}

.A1 {
    display: flex;
    justify-self: center;
}

.A2 {
    display: flex;
    justify-self:center ;
}

.A3 {
    display: flex;
    justify-self: center;
}


/**------MEDIA QUERIES-----*/

/**------navbar-----*/
@media screen and (max-width: 1016px) {
    .abrir-menu {
        display: block;
    } 

    .menu {
        display:none;
    }
}

/**------boton flotante wpp-----*/
@media screen and (max-width: 1016px){
    .fixed img{
        display: block;
        width: 45px;
    }

    .fixed {
        display: block;
        position: fixed;
        bottom: 110px;
        right: 50px;
    }
}

@media screen and (max-width: 1016px){
    .navbar.bg-body-tertiary {
        display: block;
    }
}

@media screen and (max-width:1000px) {
    .productos img {
        width: 200px;
        height: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 10%;
    }
    .titulos {
        font-size: 20px;
    }
    .subtitulos{
        font-size: 16px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    .frio-calor div ul p {
        margin-bottom: 16px;
    }
    .frio-calor img { 
        width: 250px;
        height: 350px;
        border-radius: 10%;
    }

}

@media screen and (max-width:1000px) {
    .fc-info {
        display: grid;
        grid-template-columns: 300px 366px;
        grid-template-rows:350px;
        grid-template-areas:
        "img1 texto"
    }
    .img1 {
        grid-area: img1;
    }
    .texto {
        grid-area: texto;
        align-self: center;
    }
    
}

@media screen and (max-width:1000px) {
    .fc-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:350px;
        grid-template-areas:
        "img1" 
        "texto"
    }
    .img1 {
        grid-area: img1;
    }
    .texto {
        grid-area: texto;
        align-self: center;
    }
    
}

@media screen and (max-width:350px ){
    .subtitulos {
        font-size: 16px;
    }
    .titulos {
        font-size: 20px;
    }
}

/**------formulario-----*/
@media screen and (max-width: 350px) { 
    div input {
        display: block;
        width: 200px;
    }
}


@media screen and (max-width:780px){
    .atributos div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .productos {
        display: flex;
        flex-direction: column;
    }
    .productos div {
        width: 350px;
    }
    .productos img {
        width: 200px;
        height: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 10%;
    }
    .productos img {
        justify-self: center;
    }

    .productos h3 {
        font-size: 16px;
        justify-self: center;
    }

    .productos div ul a {
        justify-self: center;
    }

    .frio-calor {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .frio-calor img {
    justify-self: center;
    }
}




@media screen and (max-width:350px){
    .atributos div {
        display: flex;
        flex-direction: column;
    }
    .productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .productos div {
        width: 350px;
        display: flex;
        flex-direction: column;
    }
    .productos img {
        width: 200px;
        height: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 10%;
    }
    footer{
        background-color: black;
        height: 85px;
    }
    footer img{
        width: 25px;
        height: 25px;
        margin-top: 5px;
    }
    .logog {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 3.5px;
    }
}